<h1 ng-bind="vm.topic.title"></h1>
<h3 ng-bind="vm.topic.description"></h3>
<div class="input-group" style="width: 300px;">
  <span class="input-group-addon">
    <span class="glyphicon glyphicon-search"></span>
  </span>
  <input type="text" class="form-control" ng-model="vm.searchText"/>
</div>
<button type="button" class="btn btn-primary ng-hide"
  ng-show="user && user.role === 'admin'"
  ng-click="vm.showAddMessage()">
  Agregar Mensaje
</button>
<div class="panel panel-primary ng-hide" ng-show="vm.modelAddMessage">
  <div class="panel-heading">
    Agregar Mensaje
  </div>
  <div class="panel-body">
    <form name="frmAdd" novalidate>
      <div class="form-group">
        <label for="title">Título</label>
        <input type="text" class="form-control" id="title" name="title" required
          ng-model="vm.modelAddMessage.title"/>
      </div>
      <div class="form-group">
        <label for="content">Contenido</label>
        <div style="width:100%; display: flex">
          <div style="flex:1;">
            <textarea class="form-control" id="content" name="content" style="height: 100%;"
              ng-model="vm.modelAddMessage.content">
            </textarea>
          </div>
          <div style="flex: 1; border: 1px solid black;"
            ng-bind-html="vm.modelAddMessage.content | marked">
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="panel-footer">
    <button type="button" class="btn btn-primary"
      ng-disabled="frmAdd.$invalid"
      ng-click="vm.addMessage()">
      Guardar
    </button>
    <button type="button" class="btn btn-default"
      ng-click="vm.cancelMessage()">
      Cancelar
    </button>
  </div>
</div>
<div class="list-group">
  <div class="list-group-item ng-hide" ng-hide="vm.posts.length">
    Ningún mensaje
  </div>
  <a class="list-group-item" href="#"
    ng-repeat="post in vm.posts | filter: vm.searchText | orderBy: -post.createdAt track by post.id "
    ng-click="vm.like(post)">
    <h4 class="list-group-heading">
      {{post.title}}
      <span class="badge" ng-bind="post.likes"></span>
    </h4>
    <small ng-bind="post.createdAt | date:'dd-MMM-yyyy HH:mm:ss'"></small>
    <p class="list-group-item-text" ng-bind-html="post.content | marked"></p>
  </a>
</div>
