<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed"
        data-toggle="collapse" data-target="#app-bar-menu"
        aria-expanded="false">
        <span class="sr-only">Menu</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{basePath}}/" title="{{$root.pageTitle}}">
        <img ng-src="{{ctrl.appImage}}" style="width: 32px; display: inline-block;"/>
        Mi Blog
      </a>
    </div>
    <div class="collapse navbar-collapse" id="app-bar-menu">
      <ul class="nav navbar-nav">
        <li ng-repeat="mi in ctrl.menus" ng-class="{active: mi.active}">
          <a ui-sref="{{mi.state}}">
            {{mi.text}}
            <span ng-if="mi.active" class="ng-cloak sr-only">(Actual)</span>
          </a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="ng-cloak" ng-if="ctrl.user">
          <a ng-href="{{ctrl.logoutUrl}}">
            <span class="glyphicon glyphicon-off"></span>
            Salir
          </a>
        </li>
        <li class="ng-cloak" ng-if="!ctrl.user">
          <a ui-sref="app.login">
            <span class="glyphicon glyphicon-log-in"></span>
            Ingresar
          </a>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
