<h1>Categorías</h1>
<div class="list-group">
  <a class="list-group-item"
    ng-repeat="topic in vm.topics"
    ui-sref="app.post.view ({id:{{topic.id}}})">
    <h4 class="list-group-heading" ng-bind="topic.title"></h4>
    <p class="list-group-item-text" ng-bind="topic.description"></p>
  </a>
</div>
